<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>All users</h2>
<br>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Password</th>
            <th>Operations</th>
        </tr>
        <tr th:each ="user : ${allUs}">
            <td th:utext="${user.getId()}" ></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getSurname()}"></td>
            <td th:utext="${user.getCity()}"></td>
            <td th:utext="${user.getPassword()}"></td>
            <td th:utext="${user.getRoles()}"></td>

            <td>
                <a th:href="@{/admin/edit/{id}(id=${user.getId})}">Update</a>
                <a th:href="@{/admin/deleteUsers(userId=${user.getId})}">Delete</a>
            </td>
        </tr>
    </table>
    <br>
    <input type="button" value="Add"
    onclick="window.location.href = 'admin/addNewUsers'">
    <br>
    <br>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>